name: ci

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: prepare
        uses: ./.github/actions/prepare
      - name: Build
        run: just build
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: |
            target/
            target-userspace/
            kernel/compiled_userspace/
            symbols
          retention-days: 1

  lint:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v6
      - name: prepare
        uses: ./.github/actions/prepare
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts
          path: .
      - name: Run clippy
        run: just clippy
      - name: Check formatting
        run: cargo fmt --check

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v6
      - name: prepare
        uses: ./.github/actions/prepare
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts
          path: .
      - name: Run unit-tests
        run: just unit-test
      - name: Run system-tests
        run: just system-test

  miri:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v6
      - name: prepare
        uses: ./.github/actions/prepare
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts
          path: .
      - name: Run miri
        run: just miri
